In [1]:
 #import modules, packages and libraries
import pandas as pd
import numpy as np
import requests as req
import gzip
import concurrent.futures
import seaborn as sns
# sns.set()
from tmdb_calls import doBatch
from multiprocessing import Manager
from io import BytesIO

import mysql.connector
from sqlalchemy import create_engine

from langdetect import detect

print('Downloading tables...')

#get film datasets

#set urls
url_title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz' #film name, year, runtime, genres
url_crew = 'https://datasets.imdbws.com/title.principals.tsv.gz' #actors, actresses, cinematographers, directors (redundant)
url_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz' #ratings for films (not all)
url_names = 'https://datasets.imdbws.com/name.basics.tsv.gz' #link table for names against nconst
url_langs = 'https://datasets.imdbws.com/title.akas.tsv.gz' #link table for names against nconst

#download from url
res_title_basics = req.get(url_title_basics).content
res_crew = req.get(url_crew).content
res_ratings = req.get(url_ratings).content
res_names = req.get(url_names).content
res_lang = req.get(url_langs).content

#decompress
title_basics_gzip = gzip.decompress(res_title_basics)
crew_basics_gzip = gzip.decompress(res_crew)
title_ratings_gzip = gzip.decompress(res_ratings)
names_gzip = gzip.decompress(res_names)
title_langs_gzip = gzip.decompress(res_lang)

#read csv into dataframes
titles = pd.read_csv(BytesIO(title_basics_gzip), delimiter='\t',low_memory=False)
crew = pd.read_csv(BytesIO(crew_basics_gzip), delimiter='\t',low_memory=False)
ratings = pd.read_csv(BytesIO(title_ratings_gzip), delimiter='\t',low_memory=False)
names = pd.read_csv(BytesIO(names_gzip), delimiter='\t',low_memory=False)
langs = pd.read_csv(BytesIO(title_langs_gzip), delimiter='\t',low_memory=False)


# fine
print('Cleaning data...')

#clean data

# #filter only english films
desired_langs = ['en']
filtered_langs = langs[langs['language'].isin(desired_langs)]
tconsts_filtered_langs = filtered_langs['titleId'].tolist()
desired_regions = ['CA', 'US', 'GB', 'IE', 'AU', 'NZ']
filtered_regions = langs[langs['region'].isin(desired_regions)]
tconsts_filtered_regions = filtered_regions['titleId'].tolist()

#remove unsuitable titles
titles = titles[titles['titleType'] == 'movie']
titles = titles[titles['genres'] != r'\N']
titles['isAdult'] = pd.to_numeric(titles['isAdult'], errors='coerce')
titles = titles[titles['isAdult'] == 0 ]
titles = titles[(titles['startYear'] >= '1955') & (titles['startYear'] != '\\N')]
titles = titles[(titles['tconst'].isin(tconsts_filtered_langs) & (titles['tconst'].isin(tconsts_filtered_regions)))]

#get tconsts for remaining non-film rows, and remove corresponding non-film rows
film_tconsts = titles['tconst'].tolist()
crew = crew[crew['tconst'].isin(film_tconsts)]
ratings = ratings[ratings['tconst'].isin(film_tconsts)]

#set columns to remove from dataset
remove_from_titles = ['originalTitle', 'endYear', 'titleType', 'isAdult']
remove_from_crew = ['ordering','job','characters']
remove_from_ratings = ['numVotes']
remove_from_names = ['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

#remove unneeded columns
titles = titles.drop(columns=remove_from_titles)
crew = crew.drop(columns=remove_from_crew)
ratings = ratings.drop(columns=remove_from_ratings)
names = names.drop(columns=remove_from_names)

print('Merging tables...')

#merge relational tables

crew_data = crew.copy()

#merge crew data with names table to get respective names rather than nconst
crew_data['nconst'] = crew_data['nconst'].str.split(', ')
crew_data = crew_data.explode('nconst')
crew_data = pd.merge(crew_data, names, on='nconst', how='left')
crew_data = crew_data.pivot_table(
    index=['tconst'],
    columns=['category'],
    values=['primaryName'],
    aggfunc=lambda x: ', '.join(str(item) for item in x),
).reset_index()


#format and restructure columns before merging
crew_data.columns = ['_'.join(col).strip() for col in crew_data.columns.values]
crew_data.columns = [col.replace('primaryName_', '') for col in crew_data.columns]
crew_data = crew_data.rename(columns={'tconst_': 'tconst'})
columns_to_keep = ['tconst', 'actor', 'actress', 'cinematographer', 'composer', 'director', 'editor', 'producer', 'writer']
crew_data = crew_data[columns_to_keep]

#merge film and cast datasets for one complete table
film_data = pd.merge(titles, ratings, on='tconst', how='left')
film_data = pd.merge(film_data, crew_data, on='tconst', how='left')

print('Further cleaning data...')



columns_check = ['director', 'cinematographer', 'editor', 'writer', 'composer', 'producer']
film_data = film_data[film_data[columns_check].isna().sum(axis=1) == 0] #make smaller to decrease films?

film_data = film_data.dropna(subset=['actor', 'actress'])
film_data = film_data.dropna(subset=['runtimeMinutes'])
film_data = film_data.dropna(subset=['averageRating'])
film_data = film_data.dropna(subset=['genres'])

film_data = film_data[film_data['runtimeMinutes'] != '\\N']
film_data = film_data[film_data['startYear'] != '\\N']
film_data = film_data[film_data['averageRating'] != '\\N']

film_data['cast'] = film_data['actor'] + ', ' + film_data['actress']
film_data.drop(['actor', 'actress'], axis=1, inplace=True)

# ensure no duplicate cast members
def remove_duplicates(names):
    if isinstance(names, str):
        unique_names = list(set(names.split(',')))
        return ', '.join(unique_names)
    else:
        return names

# Apply the function to the cast column
film_data['cast'] = film_data['cast'].apply(remove_duplicates)

# remove data-sparse films
print('EDL testing...')
# langdetec check if film title is in english
def is_english(text):
    try:
        lang = detect(text)
        return lang == 'en'
    except:
        return False
    
english_titles = film_data['primaryTitle'].apply(is_english)
film_data = film_data[english_titles]

#add columns for plot and poster path
film_data['plot'] = np.nan
film_data['poster'] = np.nan


# print('Films: ' + str(len(film_data)))


print('Fetching plot summaries and posters...')

# get film plot and poster with tmdb api ~ >2hrs

#call api/details for each film with multiprocessing and mutlithreading
if __name__ == '__main__':

    manager = Manager()
    shared_data = manager.Namespace()
    agg_list = []

    batch_size = 1000
    sleep_time = 3

    num_batches = (len(film_data) // batch_size) + 1

    with concurrent.futures.ProcessPoolExecutor(8) as process_executor:

        for i in range(num_batches):

            start_index = i * batch_size
            end_index = (i + 1) * batch_size
            
            shared_data.film_data = film_data.iloc[start_index:end_index]

            future = process_executor.submit(doBatch, shared_data)

            concurrent.futures.wait([future])

            agg_list.append(shared_data.film_data)

            print(f"Batch {i+1}/{num_batches} completed")
                
    film_data = pd.concat(agg_list, ignore_index=True)

# #remove films with no plot
film_data = film_data.dropna(subset=['plot', 'poster'])

final_order = ['tconst','primaryTitle', 'plot', 'averageRating', 'genres', 'runtimeMinutes', 'startYear', 'cast', 'director', 'cinematographer', 'writer', 'producer', 'editor', 'composer', 'poster']
film_data = film_data[final_order]

print('Exporting to sql...')

#export film data to mysql
def save_mySQL(data):

    # MySQL connection configuration
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Leicester69lol",
        database="users"
    )

    # Cursor object to execute SQL queries
    mycursor = mydb.cursor()

    # Table name in the database
    table_name = "all_films"

    # Define the SQL query to delete all records from the table
    delete_query = "DELETE FROM {}".format(table_name)

    # Execute the delete query
    mycursor.execute(delete_query)
    mydb.commit()

    engine = create_engine("mysql+mysqlconnector://root:Leicester69lol@localhost/users")

    data.to_sql('all_films', con=engine, if_exists='replace', index=False)

#shuffle order
film_data = film_data.sample(frac=1)

# export film data to sql db
save_mySQL(film_data)

print('Exporting to json...')

# export film data to json
result = film_data.to_json('webpage/films.json' ,orient="records")

# print('Total films: ' + str(len(film_data)))
film_data

Downloading tables...
Cleaning data...
Merging tables...
Further cleaning data...
EDL testing...
Fetching plot summaries and posters...

python(3074) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
python(3075) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
python(3076) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Batch 1/32 completed
Batch 2/32 completed
Batch 3/32 completed
Batch 4/32 completed
Batch 5/32 completed
Batch 6/32 completed
Batch 7/32 completed
Batch 8/32 completed
Batch 9/32 completed
Batch 10/32 completed
Batch 11/32 completed
Batch 12/32 completed
Batch 13/32 completed
Batch 14/32 completed
Batch 15/32 completed
Batch 16/32 completed
Batch 17/32 completed
Batch 18/32 completed
Batch 19/32 completed
Batch 20/32 completed
Batch 21/32 completed
Batch 22/32 completed
Batch 23/32 completed
Batch 24/32 completed
Batch 25/32 completed
Batch 26/32 completed
Batch 27/32 completed
Batch 28/32 completed
Batch 29/32 completed
Batch 30/32 completed
Batch 31/32 completed
Batch 32/32 completed
Exporting to sql...
Exporting to json...

,tconst,primaryTitle,plot,averageRating,genres,runtimeMinutes,startYear,cast,director,cinematographer,writer,producer,editor,composer,poster
11858,tt0311750,My Mother and Her Guest,Six-year-old Ok Hee is glad when Mr. Han comes...,7.0,"Drama,Romance",103,1961,"Eun-jin Han, Jin Kyu Kim, Kum-Bong Do, Cho...",Shin Sang-ok,Su-yeong Choi,"Yo-seob Ju, Hee-jae Lim",Shin Sang-ok,Seong-ran Yang,Yun-ju Jeong,/61df1uIqrgZHtnNvBcMRotmIs3E.jpg
23688,tt26732463,Hour of Danger,"As the EDSA Revolution unfolds, a mother, son,...",4.3,"Crime,Drama,History",104,2023,"Mae Paner, Marcus Madrigal, Apollo Abraham,...",Joel Lamangan,TM Malones,"Bonifacio Ilagan, Eric Ramos","Howard Calleja, Jaypee Calleja, Nor Domingo, T...",Gilbert Obispo,Eddie Pagayon,/uH4DUx0z7AXe5Nk5b5V52a6fp3J.jpg
9366,tt0130604,Dead of Night,An abused woman conjures up a spirit to take r...,3.4,"Action,Comedy,Horror",95,1988,"Isaac Allan, Aarin Teich, George Carter, J...",Deryn Warren,Rohn Schmidt,Jerry Daly,Jessica Rains,Tony Miller,David Michael Frank,/4YFiMsliWGlL0pzqcaul0UJMfNJ.jpg
3670,tt0072368,"Vincent, François, Paul and the Others",Three friends face mid-life crises. Paul is a ...,7.3,Drama,118,1974,"Catherine Allégret, Gérard Depardieu, Serge...",Claude Sautet,Jean Boffety,"Claude Néron, Jean-Loup Dabadie, Claude Sautet","Raymond Danon, Roland Girard",Jacqueline Thiédot,Philippe Sarde,/5fRcdZOZViqoQa73H63TQhGGoki.jpg
13457,tt0442486,"Endless, the Rock Return","15 years after of its breakdown, a music band ...",4.7,"Comedy,Drama,Music",108,2005,"Carlos Iglesias, Armando del Río, Ana Álvar...","Manuel Sanabria, Carlos Villaverde",Unax Mendia,"Manuel Sanabria, Carlos Villaverde",Andrés Vicente Gómez,"José del Peón, José María del Peón",Ángel Illarramendi,/9roAxHsmOjrB8OFoD7xTUnz6wXY.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6264,tt0094783,The Boost,Lenny Brown moves to California to find his fo...,6.0,"Drama,Romance",95,1988,"Steven Hill, John Rothman, Fred McCarren, ...",Harold Becker,Howard Atherton,"Ben Stein, Darryl Ponicsan",Daniel H. Blatt,Maury Winetrobe,Stanley Myers,/zZnPXPXBEcW4sKOqjNuDs1PemUt.jpg
5801,tt0090890,Cry from the Mountain,The film centers on an emotional kayaking trip...,6.8,"Adventure,Drama",78,1985,"Allison Argo, James Cavan, Chris Kidd, Wes ...",James F. Collier,Gary D. Baker,Daniel L. Quick,William F. Brown,J. Michael Hooser,J.A.C. Redford,/6IVtUE8h6WjLd7cwkUNTfHkDkiL.jpg
20300,tt1712573,Strapped,"A routine trick propels a tall, dark, cynical ...",6.8,"Drama,Romance",95,2010,"Paul Gerrior, Katherine Celio, Michael Carl...",Joseph Graham,Matthew Boyd,Joseph Graham,"Joseph Graham, William D. Parker",Sharon Franklin,"Inu, Windows to Sky",/DfI9FjHB0kpNoX2vlI0xwffw32.jpg
18111,tt1363487,A New Ice Age,"Near a windy, misty beach, Eric and David, two...",5.5,Drama,101,2008,"Anna Picco, Marthe Sébille, Mickael Rebouil...",Darielle Tillon,Sébastien Buchmann,"Guillaume Esterlingot, Darielle Tillon",Mikhaël Hers,Christophe Nowak,"Dominique A., Ripley",/eWoPtQCiTSxCYvNcnbnmOhwxCGe.jpg
4764,tt0081467,The Island of the Fishmen,After their prison ship sinks in the Caribbean...,5.2,"Action,Adventure,Horror",81,1979,"Roberto Posse, Jim Alquist, Barbara Bach, ...",Sergio Martino,Giancarlo Ferrando,"Cesare Frugoni, Luciano Martino, Sergio Donati...",Luciano Martino,Eugenio Alabiso,Luciano Michelini,/dP7AhdcbTsW92ovcGUFf3dyr8m2.jpg

In [ ]:
# #export film data to mysql
# def save_mySQL(data):

#     # MySQL connection configuration
#     mydb = mysql.connector.connect(
#         host="localhost",
#         user="root",
#         password="Leicester69lol",
#         database="users"
#     )

#     # Cursor object to execute SQL queries
#     mycursor = mydb.cursor()

#     # Table name in the database
#     table_name = "all_films"

#     # Define the SQL query to delete all records from the table
#     delete_query = "DELETE FROM {}".format(table_name)

#     # Execute the delete query
#     mycursor.execute(delete_query)
#     mydb.commit()

#     engine = create_engine("mysql+mysqlconnector://root:Leicester69lol@localhost/users")

#     data.to_sql('all_films', con=engine, if_exists='replace', index=False)

# #shuffle order
# film_data = film_data.sample(frac=1)

# save_mySQL(film_data)

In [ ]:
print('Total films: ' + str(len(film_data)))

film_data